<div class="container">
  <div class="section-0"><section><div data-dispatch="app:reveal/zero app:conceal/zero app:append app:remove" id="zero">0</div></section></div>
  <div class="section-1"><section><div data-dispatch="app:reveal/one app:conceal/one app:append app:remove" id="one">1</div></section></div>
</div>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<div class="hidden">
  <button data-dispatch="app:click app:reveal" id="custom-button">Custom Button</button>
</div>
<button data-dispatch="app:click/special" id="custom-button1">Custom Button 1</button>
<button data-dispatch="app:click" id="custom-button2">Custom Button 2</button>
