<button data-dispatch="click">Custom Button 1</button>
<button data-dispatch="click mouseover" id="custom-button">Custom Button 2</button>
<button data-dispatch="click" id="custom-button" data-event="custom-event">Custom Button</button>
